*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: cornflowerblue;
}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
}
.Head{
    font-weight: 600;
    font-size: 15px;
    margin: 15px;
}
.input-tag{
    width: 80%;
    height: 45px;
    padding: 5px;
    border: 1px solid black;
    outline: 0;
    margin: 15px;
    border-radius: 5px;
}
.imgBox{
    margin-left: 25%;
}
.btn{
    margin: 15px 15px 15px 24px;
    width: 80%;
    height: 30px;
    background-color: orangered;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    outline: 0;
    border: 0;
}

@media screen and (max-width:500px)
{
    .container{
        width: 250px;
        padding: 20px 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 10px;
    }
    .imgBox{
        margin-left: 17%;
    }
}